.faq_container {
    width: 100%;
    color: white;
}

.faq_question {
    cursor: pointer;
    padding: 2px 25px;
    background-color: #2D2D2D;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: #5c5b5b;
        transition: all 1s;
    }

    p {
        font-size: 25px;
        font-weight:550;

        @media (max-width:740px) {
            font-size: 17px;
        }
    }

    .show_ans,
    .close_ans {
        padding: 10px;
        font-size: 40px;
    }
}

.faq_answer {
    padding: 2px 25px;
    background-color: #2D2D2D;
    margin-bottom: 8px;
    margin-top: -2px;
    transition: transform 250ms;
    transition-timing-function: linear;

    p {
        font-size: 25px;
        font-size: 600;
        @media (max-width:740px) {
            font-size: 17px;
        }
    }
}