/* .app{
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/d282a426-b01a-424c-9b83-2c2445e4b61a/6521cbe6-8f8e-423f-92ef-e5d189c2a2ea/NP-en-20230626-popsignuptwoweeks-perspective_alpha_website_large.jpg");
} */

a{
color: white;
text-decoration: none;
}
li{
  list-style: none;
}